.passage h2 { 
    text-decoration: underline;
}

.passage h3, .passage h4 {
    margin: 0;
}

#phoneScreen {
    padding: 15px;
}

#phoneScreen h1 {
    margin-top: 0px;
}

.speech-bubble-incoming {
    position: relative;
    background:  #35a;
    border-radius: .4em;
    padding-left: .5em;
}

.speech-bubble-outgoing {
    color: black;
    text-align: right;
    position: relative;
    background:  #ffffff;
    border-radius: .4em;
    padding-right: .5em;
}